Host github.com
  IdentityFile ~/.ssh/{{SSH_KEY_FILE}}
  IdentitiesOnly yes
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

Host *
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
