Host github.com
  IdentityFile ~/.ssh/{{SSH_KEY_FILE}}
  IdentitiesOnly yes
  StrictHostKeyChecking yes
  UserKnownHostsFile ~/.ssh/known_hosts_docker

Host *
  StrictHostKeyChecking yes
  UserKnownHostsFile ~/.ssh/known_hosts_docker
