[tools]
# Standard tools
1password-cli = "latest"
awscli = "latest"                          # requires rosetta 2
aws-vault = "latest"
bat = "latest"
delta = "latest"
duckdb = "latest"
eza = "latest"
gh = "latest"
go = "latest"
jq = "latest"
node = "lts"
pandoc = "latest"
pnpm = "latest"
pre-commit = "latest"
python = "3.12.8"
ripgrep = "latest"
rust = "latest"
starship = "latest"
terraform = "latest"
uv = "latest"
yarn = "latest"

# aqua: tools
"aqua:google/osv-scanner" = "latest"

# cargo: tools
"cargo:treemd" = "latest"

# npm: tools
"npm:@anthropic-ai/claude-code" = "2.0.67" # 2.0.68 has a bug
"npm:aws-cdk" = "latest"
"npm:cc-sdd" = "latest"
"npm:ccusage" = "latest"
"npm:claude-code-templates" = "latest"
"npm:markdownlint-cli2" = "latest"
"npm:md-mermaid-lint" = "latest"
"npm:opencommit" = "latest"
"npm:pyright" = "latest"

[env]
DOTFILES_PATH = "/Users/rysk/Repositories/rysk/dotfiles"

[tasks.lint]
run = "ruff format && ruff check && mypy ."
